body {
    margin: 0;
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}
.app__main-container {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav {
    display: flex;
}
.app__main-container .nav .activeNavTab {
	font-weight: bold;
	color: #000;
}
.nav a {
	color: #ccc;
	text-decoration:none;
    padding: 20px;
}

.compare__user-input-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.compare__form-container {
display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 250px;
}
.compare__form-container label {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 55%;
    font-size: 24px;
}
.compare__form-input {
	border: 1px solid #ccc;
	width: 200px;
}
.compare__form-submit {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.repo-preview__external-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.repo-preview__external-container img {
	height: 220px;
	border-radius: 120px;
    padding: 10px;
}
.repo-preview__external-container button {
	border: 1px solid #ccc;
	border-radius: 5px;
}
.compare__user-input-and-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compare__show-final-results {
	border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #000;
}
.results__compare-two-repos-container {
	display: flex;
}
.results__compare-two-repos-container ul {
    display: flex;
}
.results__compare-two-repos-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}
.results__compare-two-repos-item img {
    width: 100px;
    border-radius: 50px;
}